NATS_SERVERS=nats://100.109.131.12:4222,nats://100.109.131.12:4223,nats://100.109.131.12:4224
POSTGRES_HOST="postgres"
POSTGRES_PORT="5432"
POSTGRES_DB="puda"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"