# NATS
NATS_SERVERS=nats://bears:4222,nats://bears:4223,nats://bears:4224

# PostgreSQL client
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=puda
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
